@import url(prealoder.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    height: 100vh;
    position: relative;
}
body:after {
    content: "";
    display: table;
    clear: both;
}
/* authorization */
.auth_form {
    display: inline-block;
    border: 1px solid gray;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25%;
    /* width: 350px; */
}
.auth_form > * {
    width: 100%;
}
.auth_form button {
    width: 50%;
    margin: 10px 0 0;
}
/* desk */
.myCanbanDesks {
    float: left;
    width: 20%;
}
    .myCanbanDesks h2 {
        text-align: center;
    }
.kanban_table {
    width: 80%;
    float: right;
    border-collapse: collapse;
    border-left: 1px dotted gray;
}
    .kanban_table col {
        width: 33%;
    }
    .kanban_table col:nth-of-type(2){
        border-left: 3px solid #999;
        border-right: 3px solid #999;
    }
    .kanban_table th {
        border-bottom: 3px solid #999;
        font-size: 2em;
    }
    .kanban_table td{
        empty-cells: hide;
        text-align: center;
        /* padding: 15px 0; */
        padding: 1% 0;
        position: relative;
    }
    .kanban_table textarea {
        resize: none;
        width: 80%;
        height : 100px;
    }
    .kanban_table td span {
        display: inline-block;
        position: absolute;
        width: 10%;
        height: 50px;
        border: 1px solid grey;
    }
    .kanban_table .delete {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .kanban_table .arrow-up {
        right: 0;
        top: calc(50% - 50px);
    }
    .kanban_table .arrow-down {
        right: 0;
        top: calc(50%);
    }
    .kanban_table button {
        width: 80%;
        font-size: 3em;
    }
footer {
    clear: both;
    padding: 30% 0;
}
#preloader {
    display: none;
}
/* admin styles */
.admin-panel {
    display: flex;
    height: 100vh;
}
.admin-panel > section {
    flex: 1 1 33%;
}
.admin-panel > section:not(:last-of-type) {
    border-right: 3px solid gray;
}
.admin-panel ul {
    list-style-type: none;
}